h1 {

    color:red
}

li {
    text-align: justify;
    color:magenta;
    width: 300px;
    
}

.suurpilt {

    width: 300px;
    height: auto;
    b
}

p {

    color:magenta;
    width: 300px;

}